.hederCss {
    background-color: rgb(4, 73, 163);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 80px;
    position: fixed;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    white-space: nowrap;
    z-index: 999;
    
}



.userspace{
    font-size: 20px;
    text-align: left;
    margin-right: 10px;
    margin-left: 30px;
    justify-content: flex-start;
    background-color: rgb(212, 78, 85);
    border-radius: 10px;
    padding: 10px 30px;
    font-weight: bold;
}

.button {
    display: flex;
    flex-direction: row-reverse;
    width: auto;
    margin-right: 10px;
    padding: 10px;
    margin-top: 10px;
}



.buttonChi {
    font-size: 15px;
    background-color: rgb(4, 73, 163);
    padding: 1px ;
    border-radius: 10px;
    list-style: none;
    margin-right: 15px;
    margin-top: 10px;
    
}



.link {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px; 
    margin-right: 10px;
}
.link:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    padding: 10px; 
    border-radius: 10px;

}


.linkLogin {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px; 
}
.linkLogin:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(212, 78, 85);
    padding: 10px; 
    border-radius: 10px;

}
.htitle {
    position: absolute;
    width: 100px;
    padding:0;
    margin-right: 100px;
    padding-top: 10px;
}

.nouser {
    background-color: rgba(0, 0, 0, 0);
}

.logout {
    border: none;
    font-weight: bold;
    cursor: pointer; 
    background-color: rgba(221, 183, 183, 0);
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    margin-top: -10px;
    
}
.logout:hover {
    color: black;
    background-color: rgb(212, 78, 85);
    border-radius: 10px;
    /* padding-left: 10px;
    margin-right: 15px; */

}

.mail {
    color: white;
    margin-top: -7px;
    padding: 6px;
    cursor: pointer;
    
}

.mail:hover {
    color: black;
    background-color: white;
    border-radius: 10px;

}

.modal {
  background-image: url('../assets/Game-background-material3.jpg');
  background-size: cover;
  border-radius: 40px;
  align-items: center; 
  display: flex;
  justify-content: center; 
  height: 40%;
  margin-top: 17%;
  margin-left: 30%;
  margin-right: 30%;
  outline: none;
}

.modal h2{
    justify-content: center;
    display: flex;
    margin-left: 2%;
    margin-top: -10%;
}

.modal h2 span{
    color:rgb(170, 25, 25);
}

.modal div {
    justify-content: center;
    display: flex;
    position: fixed;
    margin-left: -10%;
    margin-top: 5%;
    justify-content: space-evenly;
    flex-direction: row;
    white-space: nowrap;
}

.cancel{
    border: none;
    font-weight: bold;
    cursor: pointer; 
    background-color: rgb(172, 40, 40);
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    border-radius: 50px;

}

.cancel:hover{
  color:rgb(138, 138, 138);
  background-color: rgb(94, 4, 4);
}
.modallogout{
    border: none;
    font-weight: bold;
    cursor: pointer; 
    background-color: rgb(27, 29, 194);
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    border-radius: 50px;
    margin-right: -80%;

}

.modallogout:hover{
  color:rgb(138, 138, 138);
  background-color: rgb(6, 21, 87);

}

.isread{
    color:red;
    margin-left: -14px;
    vertical-align: top;
    text-decoration: none; 
    font-size: 12px;
    margin-right: 10px;
    display: inline-block; /* 必須 */
    line-height: 8px;        /* 文字の上下余白をゼロにする */
    
}